.dailys_title{
    color:#bedac0 ;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
}
.dailys_separator{
    width: 12rem;
    height: 2px;
    background-color: #bedac0 ;
}
.daily_container{
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}