.header{
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    padding: 0px 40px;
    margin-top: 4px;
    cursor: pointer;
  }
  
  .navBar{
    padding-left: 30px;
    flex-grow: 1;
  }
  .searchIcon{
    position:relative;
    right:30px;
    bottom:-8px;
  
  }
  .searchInput{
    border: none;
    border-radius: 20px;
    height: 26px;
    margin-bottom: 4px;
    padding: 2px 16px;
  }