<mat-toolbar color="primary" class="header">
  <span class="logo" routerLink="/home" routerLinkActive="active"><img src="../../../../assets/svg/ox4me_logo.svg" alt="logo"></span>
  <div class="navBar">
    <a mat-button routerLink="/home" routerLinkActive="active">Acceuil</a>
    <a mat-button routerLink="/list" routerLinkActive="active">Les Cocktails</a>
    <a mat-button routerLink="/favoris" routerLinkActive="active">Mes Favoris</a>
  </div>
  <div class="searchWrapper">
    <input matInput type="text" class="searchInput">
    <mat-icon aria-hidden="false" aria-label="search" class="searchIcon" color="accent">search</mat-icon>
  </div>
</mat-toolbar>
